h1 {
	color:#B3001B;
font-size:60px;
Font-family:Tussilago Heavy Italic;
}

p {
	color:#FFFDF7;
	font-family: Impact;
	font-size :30px;
}

a {
	color:#255C99;
	font-family:Impact;
	font-size:20px;

}
.about {
	color: #;
	font-size: 25px;
	font-family: impact;
}

.content{ 
 	Color:#7EA3CC;
 	font-size: 15px;
 	font-family: impact;


 }


li {
	color:#7EA3CC;
	font-family:Imapct;
	font-size:15px;
}

body {
	background-color:#02040F;
}