h1 {
	color:#B3001B;
font-size:60px;
Font-family:Impact;
}

p {
	color:#FFFDF7;
	font-family: Impact;
	font-size :20px;
}


body {
	background-color:#02040F;
}
b{
	color:#B3001B;
	font-family: Impact;
	font-size :60px;
}


